.img-detail {
    width: 50vh;
}

.product-detail {
    border-radius: 2vh;
    margin: 0 auto;
    width: 170vh;
    height: 70vh;
    background: linear-gradient(135deg, #f0f0f0, #d2dae8);
}
.detail-size{
    font-size: 21px;
}
.detail{
    display: flex;
}

.img-detail{
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.7);
    
}
.all-detail{
    display: flex;
    flex-direction: column;
  
}
.detail-prices{
    display: flex;
    flex-direction: row;
}

.detail-sizes p{
    margin: 1vh;
}
.product-detail div{
    margin: 5px 10vh;
    display: flex;

}

.discount{
    font-size: 3vh;
    color: #ff3e6c;
    margin-top: 7px;
}

.detail-price{
    font: 1.0rem bold ;
    margin-top: 2vh;
    opacity: 0.5;
    text-decoration: line-through;
    width: auto;
}
.discounted-price{
    font: 1.4rem bold ;
    width: 20%;
    margin-top: 2vh;
}
.border{
    border: 1px solid black;
    opacity: 0.33;
}
.detail-name{
    margin: 0vh;
    width: 80vh;
    height: 5vh;
}

.detail-sizes{
    margin: 4vh;
}
.detail-sizes p{
    border: 1px solid rgb(141, 141, 201);
    width: 5vh;
    height: 3.5vh;
    border-radius: 5px;
    text-align: center;
}

.detail-sizes p:hover{
   border: 1px solid red;
   color: red;
}


.detail-fav{
    background-color: #ff3e6c;
    margin: 0;
    border: none;
    width: 50%;
    height: 6vh;
    text-align: center;
    border-radius: 4px;
    margin-right: 2vh;
}

.detail-des{
    opacity: 0.7;
}
.detail-cart{
    background-color: white;
    margin: 0;
    border: 0.1em solid black;
    width: 50%;
    height: 6vh;
    text-align: center;
    border-radius: 4px;
}

.success-message{
    background-color: #ff3e6c;
}